<%- include('../partials/header') %>
<div class="container">
  <div class="py-3">
    <a class="btn btn-primary mb-3" href="/type"><- back</a>
    <h2> Add New Type</h2>
    <hr />
    <form action="/type/add" method="post">
      <div class="mb-3">
        <label for="name" class="form-label">name</label>
        <input
          type="text"
          class="form-control"
          name="name"
          id="name"
          placeholder="Name"
          required
        />
      </div>
      <button type="submit" class="btn btn-success">Add</button>
    </form>
  </div>
</div>
<%- include('../partials/footer') %>